<h1><% if user_signed_in? %><%= @profile.first_name %><% else %><%= "You must be signed in to see this page." %><% end %></h1>
<p><% if user_signed_in? %><%= @profile.email %><% else %><%= "" %><% end %></p>
