<% content_for :navigation_title do %>
    Sent Messages
<% end %>

<ul class="direct-messages">
  <% @messages.each do |message| %>
      <li>
        <%= link_to new_direct_message_path(:to_user_id => message.from_user_id) do %>
            <%= image_tag message.to_user.avatar.url(:thumb), :style => 'width: 32px; height: 32px; margin-right: 6px;' %>
            <%= message.to_user.full_name %>
        <% end %>
        <div style="margin-top: 15px;">
          <%= message.text %>
        </div>
      </li>
  <% end %>
</ul>