<div class="col-md-1 col-md-push-2 text-2">
    <ul>
        <li class="list"><a href="math.html">Math</a></li>
        <li class="list"><a href="science.html">Science</a></li>
        <li class="list"><a href="history.html">History</a></li>
        <li class="list"><a href="art.html">Art</a></li>
        <li class="list"><a href="electives.html">Electives</a></li>
        <li class="list"><a href="english.html">Language Arts</a></li>
        <li class="list"><a href="foreign.html">Foreign Language</a></li>
    </ul></div>
